.x-container {
  max-width: 1280px;
  margin: 0 auto;
}
.x-header {
  width: 100%;
  display: flex;
  background: #DDD;
  padding: 10px;
}
.x-school-icon {
  width: 200px;
  height: auto;
  border-radius: 50%;
}
.x-header-info {
  margin: 0 0 0 20px;
}
.x-claims-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.x-claim {
  width: 300px;
  margin: 20px 10px;
}
